fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx
openai
groq
numpy<2.0.0
scikit-learn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt!=4.0.0,!=4.0.1
redis
celery
sse-starlette
python-multipart
